In [81]:
import pandas as pd
import numpy as np

In [82]:
data = pd.read_csv("../data/england.csv")
data = data[(data.division != '3S')]
data = data[(data.division != '3N')]
data = data.astype({'division':int})
data = data[data.division == 1]
data.head()

,Date,Season,home,visitor,FT,hgoal,vgoal,division,tier,totgoal,goaldif,result
0,1888-09-08,1888,Bolton Wanderers,Derby County,3-6,3,6,1,1,9,-3,A
1,1888-09-08,1888,Everton,Accrington F.C.,2-1,2,1,1,1,3,1,H
2,1888-09-08,1888,Preston North End,Burnley,5-2,5,2,1,1,7,3,H
3,1888-09-08,1888,Stoke City,West Bromwich Albion,0-2,0,2,1,1,2,-2,A
4,1888-09-08,1888,Wolverhampton Wanderers,Aston Villa,1-1,1,1,1,1,2,0,D

# Obtain First Division from season 1980

In [83]:
data_first_division = data[data.Season >= 1980]
data_first_division.head()

,Date,Season,home,visitor,FT,hgoal,vgoal,division,tier,totgoal,goaldif,result
118802,1980-08-16,1980,Birmingham City,Coventry City,3-1,3,1,1,1,4,2,H
118803,1980-08-16,1980,Brighton & Hove Albion,Wolverhampton Wanderers,2-0,2,0,1,1,2,2,H
118804,1980-08-16,1980,Leeds United,Aston Villa,1-2,1,2,1,1,3,-1,A
118805,1980-08-16,1980,Leicester City,Ipswich Town,0-1,0,1,1,1,1,-1,A
118806,1980-08-16,1980,Liverpool,Crystal Palace,3-0,3,0,1,1,3,3,H

# Remove columns unnecessary

In [84]:
data_first_division = data_first_division.drop(["tier", "FT", "division", "totgoal", "goaldif"], axis = 1)
data_first_division.tail()

,Date,Season,home,visitor,hgoal,vgoal,result
198487,2020-07-26,2019,Leicester City,Manchester United,0,2,A
198488,2020-07-26,2019,Manchester City,Norwich City,5,0,H
198489,2020-07-26,2019,Newcastle United,Liverpool,1,3,A
198490,2020-07-26,2019,Southampton,Sheffield United,3,1,H
198491,2020-07-26,2019,West Ham United,Aston Villa,1,1,D

# Separate Date

In [85]:
date = data_first_division.Date.str.split('-',  n=-1, expand=True)
date.columns = ["year", "month", "day"]
date.head()

        year month day
118802  1980    08  16
118803  1980    08  16
118804  1980    08  16
118805  1980    08  16
118806  1980    08  16

In [86]:
data_first_division = data_first_division.drop("Date", axis = 1)
data_first_division = pd.concat([date, data_first_division], axis=1)
data_first_division.head()

,year,month,day,Season,home,visitor,hgoal,vgoal,result
118802,1980,08,16,1980,Birmingham City,Coventry City,3,1,H
118803,1980,08,16,1980,Brighton & Hove Albion,Wolverhampton Wanderers,2,0,H
118804,1980,08,16,1980,Leeds United,Aston Villa,1,2,A
118805,1980,08,16,1980,Leicester City,Ipswich Town,0,1,A
118806,1980,08,16,1980,Liverpool,Crystal Palace,3,0,H

# Create dictionary teams

In [87]:
teams_set = sorted(list(set(data_first_division.home).union(set(data_first_division.visitor))))
team_number = range(len(teams_set))
teams_dict = dict(zip(teams_set, team_number))
teams_dict

{'AFC Bournemouth': 0,
 'Arsenal': 1,
 'Aston Villa': 2,
 'Barnsley': 3,
 'Birmingham City': 4,
 'Blackburn Rovers': 5,
 'Blackpool': 6,
 'Bolton Wanderers': 7,
 'Bradford City': 8,
 'Brighton & Hove Albion': 9,
 'Burnley': 10,
 'Cardiff City': 11,
 'Charlton Athletic': 12,
 'Chelsea': 13,
 'Coventry City': 14,
 'Crystal Palace': 15,
 'Derby County': 16,
 'Everton': 17,
 'Fulham': 18,
 'Huddersfield Town': 19,
 'Hull City': 20,
 'Ipswich Town': 21,
 'Leeds United': 22,
 'Leicester City': 23,
 'Liverpool': 24,
 'Luton Town': 25,
 'Manchester City': 26,
 'Manchester United': 27,
 'Middlesbrough': 28,
 'Millwall': 29,
 'Newcastle United': 30,
 'Norwich City': 31,
 'Nottingham Forest': 32,
 'Notts County': 33,
 'Oldham Athletic': 34,
 'Oxford United': 35,
 'Portsmouth': 36,
 'Queens Park Rangers': 37,
 'Reading': 38,
 'Sheffield United': 39,
 'Sheffield Wednesday': 40,
 'Southampton': 41,
 'Stoke City': 42,
 'Sunderland': 43,
 'Swansea City': 44,
 'Swindon Town': 45,
 'Tottenham Hotspur': 46,
 'Watford': 47,
 'West Bromwich Albion': 48,
 'West Ham United': 49,
 'Wigan Athletic': 50,
 'Wimbledon': 51,
 'Wolverhampton Wanderers': 52}

In [88]:
teams_df = pd.DataFrame({"team_name":list(teams_set), "team_number":team_number})
teams_df.head()

         team_name  team_number
0  AFC Bournemouth            0
1          Arsenal            1
2      Aston Villa            2
3         Barnsley            3
4  Birmingham City            4

In [89]:
teams_df.to_csv("../data/teams.csv", index=False)

In [90]:
data_first_division.home = data_first_division.home.apply(teams_dict.get)
data_first_division.visitor = data_first_division.visitor.apply(teams_dict.get)
data_first_division.head()

        year month day  Season  home  visitor  hgoal  vgoal result
118802  1980    08  16    1980     4       14      3      1      H
118803  1980    08  16    1980     9       52      2      0      H
118804  1980    08  16    1980    22        2      1      2      A
118805  1980    08  16    1980    23       21      0      1      A
118806  1980    08  16    1980    24       15      3      0      H

# Modify Result

In [91]:
result_dict = {"D":1, "H":2, "A":3}
data_first_division.result = data_first_division.result.apply(result_dict.get)
data_first_division = data_first_division.rename(columns={'Season':'season'})
data_first_division.head()

        year month day  season  home  visitor  hgoal  vgoal  result
118802  1980    08  16    1980     4       14      3      1       2
118803  1980    08  16    1980     9       52      2      0       2
118804  1980    08  16    1980    22        2      1      2       3
118805  1980    08  16    1980    23       21      0      1       3
118806  1980    08  16    1980    24       15      3      0       2

# Add week

In [92]:
temp = data_first_division[(data_first_division.year == "2018") | (data_first_division.year == "2019")]
temp.groupby(by=["year", "month", "day"]).count()

                season  home  visitor  hgoal  vgoal  result
year month day
2018 01    01        5     5        5      5      5       5
           02        4     4        4      4      4       4
           03        1     1        1      1      1       1
           04        1     1        1      1      1       1
           13        7     7        7      7      7       7
...                ...   ...      ...    ...    ...     ...
2019 12    22        2     2        2      2      2       2
           26        9     9        9      9      9       9
           27        1     1        1      1      1       1
           28        7     7        7      7      7       7
           29        3     3        3      3      3       3

[212 rows x 6 columns]

In [93]:
con = [(1995, 2020, 38), (1991, 1995, 42), (1988, 1991, 38), (1987, 1988, 40), (1980, 1987, 42)]
s = dict()
for a, b, jornada in con:
    for i in range(a, b):
        s[i] = jornada
# s: season => num jornadas en la season

In [94]:
data_first_division = data_first_division.reset_index()
data_first_division = data_first_division.drop("index", axis = 1)
data_first_division.tail()

       year month day  season  home  visitor  hgoal  vgoal  result
16137  2020    07  26    2019    23       27      0      2       3
16138  2020    07  26    2019    26       31      5      0       2
16139  2020    07  26    2019    30       24      1      3       3
16140  2020    07  26    2019    41       39      3      1       2
16141  2020    07  26    2019    49        2      1      1       1

In [95]:

temp = data_first_division.copy()
temp["week_day"] = np.zeros(len(temp))
for season in data_first_division.season.unique():
    data_season = data_first_division[data_first_division.season == season]
    equipos = data_season.home.unique()
    conteo = dict(zip(equipos, [0] * len(equipos)))   
    for index, row in data_season.iterrows():
        conteo[row.home] += 1
        conteo[row.visitor] += 1
        temp.iloc[index, -1] = conteo[row.home]

temp = temp.astype({"week_day":int})
temp.tail()

       year month day  season  home  visitor  hgoal  vgoal  result  week_day
16137  2020    07  26    2019    23       27      0      2       3        38
16138  2020    07  26    2019    26       31      5      0       2        38
16139  2020    07  26    2019    30       24      1      3       3        38
16140  2020    07  26    2019    41       39      3      1       2        38
16141  2020    07  26    2019    49        2      1      1       1        38

In [96]:
data_first_division = temp

In [97]:
data_first_division.head()

   year month day  season  home  visitor  hgoal  vgoal  result  week_day
0  1980    08  16    1980     4       14      3      1       2         1
1  1980    08  16    1980     9       52      2      0       2         1
2  1980    08  16    1980    22        2      1      2       3         1
3  1980    08  16    1980    23       21      0      1       3         1
4  1980    08  16    1980    24       15      3      0       2         1

# Remove goals

In [98]:
data_first_division = data_first_division.drop(["hgoal", "vgoal"], axis = 1)
data_first_division.head()

   year month day  season  home  visitor  result  week_day
0  1980    08  16    1980     4       14       2         1
1  1980    08  16    1980     9       52       2         1
2  1980    08  16    1980    22        2       3         1
3  1980    08  16    1980    23       21       3         1
4  1980    08  16    1980    24       15       2         1

# Save CSV

In [99]:
data_first_division.to_csv("../data/england-clean.csv", index = 0)

# Execute data transformation files

In [100]:
from os import system
system('python3 feature_addition.py')
system('python3 creating_data_2020.py')
system('python3 team_value.py')

0